 <div id="footer">
        <div id="nav_menu-3" class="widget-container widget_nav_menu"><div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li id="menu-item-38" class="bg-none menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="/camps">Camps</a></li>
<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a href="/schedule">Class Schedule</a></li>
<li id="menu-item-234" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-234"><a href="/forms">Forms</a></li>
<li id="menu-item-236" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-236"><a href="contact">Contact</a></li>
</ul></div></div><div id="text-4" class="widget-container widget_text">			<div class="textwidget"><p>At IB Training Center, you’ll receive the best available staff and training equipment in the Dallas area!  We have over 40,000 square feet of space, making us one of the the largest private athletic sports centers in North Texas area.</p></div>
		</div>        
        <div class="footer-btm-bg"><div class="footer-btm-left"><div class="footer-btm-right">
        	<div class="footer-btm"><div class="footer-home-logo"><a href=""></a></div></div>
        </div></div></div>
    </div><!-- .footer-btm -->
    
</div></div></div>
<div class="copyright">&copy; Copyright 2013 &nbsp;|&nbsp; <a href="privacy">Privacy</a> &nbsp;|&nbsp; Site Designed and Developed by <a href="http://simplemedia.co">Simple Media</a></div>

<script>
var config = {};
config.bucket = {
  slug: 'infinitebound',
  read_key: 'DurWsN72RuS5Jd2AExOdvqVDQNGv1jBY0aHexPvXCjiNhwqFUL', // add read_key if added to your Cosmic JS bucket settings
  write_key: '8u5THNrcyi4lWoYPsV67HkAShlyWdAEuSPS30gZiZJjTJn7BUa' // add write_key if added to your Cosmic JS bucket settings
},
config.object= {
      slug: gslug
    };


  Cosmic.getObject(config, config.object, function(err, res) {
    var object = res.object;
	  document.getElementById('content_data').innerHTML = object.content;
    document.getElementById('title').innerHTML = object.title;
  
 
  });
</script>
<script>
var sctitle;
var startdate;
var enddate;


var config = {};
config.bucket = {
  slug: 'infinitebound',
  read_key: 'DurWsN72RuS5Jd2AExOdvqVDQNGv1jBY0aHexPvXCjiNhwqFUL', // add read_key if added to your Cosmic JS bucket settings
  write_key: '8u5THNrcyi4lWoYPsV67HkAShlyWdAEuSPS30gZiZJjTJn7BUa' // add write_key if added to your Cosmic JS bucket settings
},
config.object= {
      slug: 'gym-class'
    };


  Cosmic.getObject(config, config.object, function(err, res) {
    var object = res.object;
//	console.log(object);
	
	sctitle =object.title ;
    //document.getElementById('title').innerHTML = scdate;
	
  var metafields = object.metafields;
    metafields.forEach(function(metafield) {
	console.log(metafield);
	if(metafield.key=='start_date')
	{
 startdate =  metafield.value;
 }
 else if(metafield.key=='end_date')
 {
 enddate  = metafield.value;
 }
    })
 // console.log(startdate);
 // console.log(enddate);
   //console.log(sctitle);
  });
  
  
  
  

	$(document).ready(function() {
	   setTimeout(function(){
		   console.log(title);
		$('#calendar').fullCalendar({
			defaultDate: '2016-10-1',
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: [
				{
					title: sctitle,
					start: startdate,
					end  : enddate
				}
			]
		});
		  },4000);
	});

</script>

<script type="text/javascript">
jQuery(document).ready( function($){
	$( '.responsiveMenuSelect' ).change(function() {
		var loc = $(this).find( 'option:selected' ).val();
		if( loc != '' && loc != '#' ) window.location = loc;
	});
	//$( '.responsiveMenuSelect' ).val('');
});
</script>