	<div id="header">
    	<div id="logo"><a href="/"></a></div>
		<div id="header-right">
			<div id="text-2" class="widget-container widget_text">			<div class="textwidget"><div class="mobile">972 .491.1916</div>

<div class="top-social">

	<ul>

  	<li><a href="http://www.youtube.com/user/InfiniteBoundsPlano"><img src="images/youtube.png" alt="YouTube" /></a></li>

    	<li><a href="http://instagram.com/infinite_bounds"><img src="images/email.png" alt="Email" /></a></li>

    	<li><a href="https://twitter.com/infinitebounds"><img src="images/twitter.png" alt="Twitter" /></a></li>

    	<li><a  target="_blank" href="https://www.facebook.com/pages/Infinite-Bounds/125835877449890"><img src="images/fb.png" alt="Facebook" /></a></li>

    </ul>

</div></div>
		</div><div id="nav_menu-2" class="widget-container widget_nav_menu"><div class="menu-top-menu-container"><ul id="menu-top-menu" class="menu"><li id="menu-item-11" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11"><a href="contact">Contact</a></li>
<li id="menu-item-121" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121"><a href="forms">Forms</a></li>
<li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13"><a href="schedule">Class Schedule</a></li>
<li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a href="camps"><cufon class="cufon cufon-canvas" alt="Camps" style="width: 55px; height: 26px;"><canvas width="62" height="24" style="width: 62px; height: 24px; top: 1px; left: -1px;"></canvas><cufontext>Camps</cufontext></cufon></a></li>
</ul></div></div>            <div style="clear:both;"></div>
		</div><!-- #header-right -->
        <div style="clear:both;"></div>
	</div><!-- #header -->
	  <div class="main-menu-bg"><div class="main-menu-left"><div class="main-menu-right">
        <a id="nav-toggle" class="collapse" href="#"><span>Menu</span><span class="toggle-image"></span></a>
	<div id="main-menu" class="main-menu responsiveSelectContainer"><ul id="menu-main-menu-1" class="menu responsiveSelectFullMenu"><li class="bg-none menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-158"><a href="#">Tumbling</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154"><a href="tumbling-classes">Tumbling Classes</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153"><a href="competitive-tumbling">Competitive Tumbling</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-195"><a href="#">Trampoline</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-197"><a href="trampoline-classes">Trampoline Classes</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-196"><a href="competitive-trampoline">Competitive Trampoline</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-183"><a href="#">Gymnastics</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-185"><a href="gymnastics-classes">Gymnastics Classes</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-184"><a href="competitive-gymnastics">Competitive Gymnastics</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-173"><a href="#">Cheerleading</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-175"><a href="cheerleading-classes">Cheerleading Classes</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a href="competitive-cheerleading">Competitive Cheerleading</a></li>
</ul>
</li>
<li class="main-menu-home-logo menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-28 current_page_item menu-item-30"><a href="/">#28 (no title)</a></li>
<li class="bg-none pre menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a href="preschool-activities">Preschool Activities</a></li>
<li class="pre menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a href="birthday-parties">Birthday Parties</a></li>
<li class="pre menu-item menu-item-type-post_type menu-item-object-page menu-item-202"><a href="jump-for-fun">Jump for Fun</a></li>
<li class="pre menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-117"><a href="#">Additional Programs</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="dance">Dance</a></li>
	<li class="pre menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a href="impact-america-martial-arts">Impact America Martial Arts</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a href="rhythmic">Rhythmic</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-203"><a href="homeschool-programs">Homeschool Programs</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-204"><a href="fundraisers">Fundraisers</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-205"><a href="leasing-options">Leasing Options</a></li>
</ul>
</li>
</ul><select class="responsiveMenuSelect"><option value="" selected="selected">⇒ Navigate</option>	<option  id="menu-item-154" value="tumbling-classes">– Tumbling Classes</option>
	<option  id="menu-item-153" value="competitive-tumbling">– Competitive Tumbling</option>
	<option  id="menu-item-197" value="trampoline-classes">– Trampoline Classes</option>
	<option  id="menu-item-196" value="competitive-trampoline">– Competitive Trampoline</option>
	<option  id="menu-item-185" value="gymnastics-classes">– Gymnastics Classes</option>
	<option  id="menu-item-184" value="competitive-gymnastics">– Competitive Gymnastics</option>
	<option  id="menu-item-175" value="cheerleading-classes">– Cheerleading Classes</option>
	<option  id="menu-item-174" value="competitive-cheerleading">– Competitive Cheerleading</option>
<option  id="menu-item-30" value="/">#28 (no title)</option>
<option  id="menu-item-25" value="preschool-activities">Preschool Activities</option>
<option  id="menu-item-80" value="birthday-parties">Birthday Parties</option>
<option  id="menu-item-202" value="jump-for-fun">Jump for Fun</option>
	<option  id="menu-item-22" value="dance">– Dance</option>
	<option  id="menu-item-24" value="impact-america-martial-arts">– Impact America Martial Arts</option>
	<option  id="menu-item-26" value="rhythmic">– Rhythmic</option>
	<option  id="menu-item-203" value="homeschool-programs">– Homeschool Programs</option>
	<option  id="menu-item-204" value="fundraisers">– Fundraisers</option>
	<option  id="menu-item-205" value="leasing-options">– Leasing Options</option>
</select></div>    </div></div></div><!-- .main-menu -->