{% extends "layout.html" %}

{% block content %}
<script>
var gslug='cheerleading-classes';
</script>
	<div id="main">


        <div id="content" role="main">

            <div class="content-bg"><div class="content-top"><div class="content-btm"><div class="content-in">

                <h2 class="entry-title" id="title">

            

                



				<div id="post-28" class="post-28 page type-page status-publish hentry">

    

					<div class="entry-content" id="content_data">

						<p style="text-align: center;"><span style="color: #ffffff;"><strong> </strong></span></p>
<p style="text-align: center;"><span style="color: #000000;"><a style="color: #000000;" href="images/building-design.png"><img class="alignnone size-medium wp-image-568" src="images/building-design-300x153.png" alt="building design" width="355" height="180" /></a></span></p>
<h4 style="text-align: center;"></h4>
<p style="text-align: center;"><span style="color: #ffffff;">Infinite Bounds gymnastics in Plano is a place where you are not in the shadows of others!  Infinite Bounds  is a place that you are an individual with importance!  At IB gymnastics, you are a part of a family with coaches that know your name!</span></p>
<p style="text-align: center;"><span style="color: #ffffff;">Going on 23 years, IB has served the Plano, Dallas area along with being the largest training facility around!  What separates IB from all the others is that Infinite Bounds gymnastics has many professional programs to choose from&#8230;.<strong><em>everyone fits!</em></strong>  IB has non-competitive and competitive programs to fulfill your dreams!</span></p>
<p style="text-align: center;"><span style="color: #ffffff;"><strong>Gymnastics, Tumbling ,Trampoline, Cheer, Rhythmic, Dance and Martial Arts</strong></span></p>
<p style="text-align: center;"><span style="color: #ffff00;">Please contact us for information or changes to your account at:  accounting@infinitebounds.co</span></p>
<p style="text-align: center;"><span style="color: #ffff00;"><a style="color: #ffff00;" href="http://infinitebounds.com/wp-content/plugins/really-static/static/home/infinite-bounds-policies/" rel="attachment wp-att-100333">Infinite Bounds Policies dsdsadsad</a></span></p>
											</div><!-- .entry-content -->

				</div><!-- #post-## -->



            </div></div></div></div>

        </div><!-- #content -->





	  {% include 'sidebar.html' %}



	</div><!-- #main -->

{% endblock %}
