{% extends "layout-inner.html" %}

{% block content %}
<script>
var gslug='trampoline-classes';
</script>
	<div id="main">


         <div id="content" role="main">

            <div class="content-bg"><div class="content-top"><div class="content-btm"><div class="content-in">

                <h2 class="entry-title" id="title"></h2>

            

                



				<div id="post-162" class="post-162 page type-page status-publish hentry">

    

					<div class="entry-content" id="content_data">

						
											</div><!-- .entry-content -->

				</div><!-- #post-## -->



            </div></div></div></div>

        </div><!-- #content -->






	  {% include 'sidebar.html' %}



	</div><!-- #main -->

{% endblock %}
